<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'intersections/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'intersections/css/main.css' %}">

        <script src="{% static 'intersections/js/jquery-2.2.0.min.js' %}"></script>
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block js %}{% endblock %}
    </body>
</html>