{% extends 'intersections/layout.html' %}
{% load staticfiles %}


{% block title %}Пересечение подписчиков групп/пользователей{% endblock %}


{% block content %}
    <h3>Пересечение подписчиков групп/пользователей</h3>

    <form id="group_form" action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
                <span class="help-inline">{{ field.errors.as_text }}</span>
            </div>
        </div>
        {% endfor %}
        <div id="status" class='error'></div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Отправить</button>
            </div>
        </div>
    </form>

    <table id="subscribers_table" class="table table-striped" style="display:none">
        <thead>
            <tr>
                <th>Ссылка</th>
                <th>Наименование группы</th>
                <th>Кол-во подписчиков в БД</th>
                <th>Кол-во подписчиков в группе</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <br><br>

    <table id="intersections_table" class="table table-bordered">
        <thead></thead>
        <tbody></tbody>
    </table>

{% endblock %}


{% block js %}
<script>
    FETCH_GROUP_URL = '{% url 'intersections:fetch_group' %}';

    {% url 'intersections:fetch_group_members_monitor' social='vk' group_id=123 as monitor_url %}
    FETCH_GROUP_MEMBERS_MONITOR_URL = '{{ monitor_url|slice:":-7" }}'; {# remove 'vk/123/' from end #}

    {% url 'intersections:get_intersections' social='vk' group_id1=123 group_id2=456 as intersectons_url %}
    GET_INTERSECTIONS_URL = '{{ intersectons_url|slice:":-11" }}'; {# remove 'vk/123/456/' from end #}
</script>

    <script src="{% static 'intersections/js/subscribers_intersection.js' %}"></script>
{% endblock %}
